.FormOuter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.TextItems {
    margin: 5px;
    width: 35ch;
    border-style: solid;
    border-color: var(--main-bg-color, #229552);
    border-width: 2px;
}

.TextField {
    height: 5em;
    width: 35ch;
    margin: 10px;
    border-style: solid;
    border-color: var(--main-bg-color, #229552);
    border-width: 2px;
}

.Button {
    background-color: var(--main-color, #2ECC71);
    color: var(--main-white-color, #FBFEFC);
    border-style: none;
    border-radius: 3px;
    width: 4.5em;
    height: 1.8em;
}

.Button:hover {
    background-color: var(--main-highlight-color, #9AE8BB);
    color: var(--main-white-color, #FBFEFC);
}