@media (min-width: 701px) {

}

@media (max-width: 700px) {
    
}

.TextWrap {
    max-width: 65ch;
}

.BodyCenter {
    text-align: left;
    margin: auto;
}

.TextCenter {
    text-align: center;
    margin: auto;
}

.TextRight {
    text-align: right;
}

.Bullets {
    list-style-image: url("images/treetiny.png");
}

.Highlights {
    color: var(--alt-highlight-color, #FF9800);
}